---
layout: layout
heroes:
  - image_path: /uploads/edwin-andrade-158050-unsplash.jpg
  - image_path: /images/hero/brooke-lark-209712.jpg
  - image_path: /images/hero/clem-onojeghuo-97709.jpg
  - image_path: /uploads/webpage-2.jpeg
  - image_path: /images/hero/diomari-madulara-110583.jpg
  - image_path: /uploads/vasundhara-srinivas-261824-unsplash.jpg
  - image_path: /images/hero/clem-onojeghuo-179397.jpg
  - image_path: /images/hero/gabriel-izgi-173852.jpg
  - image_path: /images/hero/joe-gardner-134729.jpg
  - image_path: /images/hero/gabriel-santiago-22198.jpg
  - image_path: /images/hero/lance-asper-160766.jpg
  - image_path: /uploads/website-10.jpeg
  - image_path: /images/hero/mateus-bassan-242163.jpg
  - image_path: /images/hero/mr-cup-fabien-barral-86068.jpg
  - image_path: /images/hero/nick-hidalgo-194770.jpg
  - image_path: /images/hero/paulette-wooten-223050.jpg
  - image_path: /uploads/pierre-chatel-innocenti-648693-unsplash.jpg
  - image_path: /uploads/wesbite-12.jpeg
  - image_path: /uploads/yannic-laderach-530239-unsplash.jpg
  - image_path: /uploads/efe-kurnaz-315384-unsplash.jpg
works:
  - boiler room X samsung
  - Reed Exhibitions Hair Expo Awards Night & GenNext Gala 2018
  - instagram fashion
  - I.W.C pilots collection australian launch
  - Singapore tourism board Singapore inside out
  - General Pants Bowl-A-Rama 2017
  - Instagram Creative Collisions
  - Kid Kyoto Restaurant Launch
  - electronic music conference Project Name
live_engagement_team:
  - title: One
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Two
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Three
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Four
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Five
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Six
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Seven
    icon_path: /uploads/homepage/icon_placeholder_100_100.png
the_creative_and_branding_studio:
  - title: One
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Two
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Three
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Four
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Five
    icon_path: uploads/homepage/icon_placeholder_100_100.png
  - title: Six
    icon_path: uploads/homepage/icon_placeholder_100_100.png
_options:
  icon_path:
    width: 100
    height: 100
    resize_style: contain
    uploads_dir: uploads/homepage
  layout:
    hidden: true
---

<div class="_home">
    <section class="__hero" id="__hero">
        <img src="https://composed-peak.cloudvent.net/images/logo.png" class="__logo editable" />
    </section>

    <section class="__who_we_are" id="__who_we_are">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="editable">Who We Are</h2>
                    <div class="___content editable">
                        <p>At Our Friends Electric.</p>
                        <p>Sequi possimus maxime hic delectus tempore exercitationem sed, autem repudiandae maiores, nobis dolor ipsa dolorum sint magni quidem pariatur ut quasi tempora.</p>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="__what_we_do" id="__what_we_do">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2 class="editable">
                      What We Do
                    </h2>
                    <div class="___content editable">
                        <p>arturient Vehicula Tristique Pharetra Ultricies.</p>
                        <p>Sequi possimus maxime hic delectus tempore exercitationem sed, autem repudiandae maiores, nobis dolor ipsa dolorum sint magni quidem pariatur ut quasi tempora.</p>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="__services" id="__services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="___content">
                        <h2 class="editable">Live Engagement Team</h2>
                        <div class="row">
                            {% for item in page.live_engagement_team %}
                                <div class="col">
                                    <img src="{{ item.icon_path }}" alt="" />
                                    <p>{{ item.title }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="___content">
                        <h2 class="editable">The Creative &amp; Branding Studio</h2>
                        <div class="row">
                            {% for item in page.the_creative_and_branding_studio %}
                                <div class="col">
                                    <img src="{{ item.icon_path }}" alt="" />
                                    <p>{{ item.title }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="__work" id="__work">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="editable">Some of Our Work</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row no-gutters">
                {% for work in page.works %}
                    {% assign work_name = work | slugify %}
                    {% for project in site.projects %}
                        {% assign project_name = project.title | slugify %}
                        {% if work_name == project_name %}
                            <a href="{{ site[jekyll.environment].url }}{{ site.baseurl }}{% link work.html %}#{{ project_name }}" class="__item col-md-6 col-lg-4">
                                <div class="___overlay">
                                    {{ project.intro.client_name }}<br />
                                    {{ project.intro.project_name }}<br />
                                    <span>See More</span>
                                </div>
                                <img src="{{ project.featured_image_path }}" class="img-fluid" />
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>