---
layout: layout
permalink: /work/
projects:
  - australias-first-online-leaders-debate
  - apra-music-awards
  - arnotts-cake-launch
  - electronic-music-conference
  - etihad-x-mbfwa
  - afl-womens-league-launch
  - boiler-room-x-samsung
  - brands-with-a-pulse-sydney
  - etihad-x-fashion-week
  - eva-chen-breakfast
  - facebook-iq-mobile-moves-commerce
  - facebook-x-semi-permanent
  - general-pants-bowl-a-rama
  - hair-expo-18
  - havaianas-summer-launch
  - i-w-c-pilots-collection-australian-launch
  - havaianas-airstream-summer-tour
  - glue-store-x-adidas
  - facebook-cannected
  - kid-kyoto
  - instagram-creative-collisions
  - lee-stay-black
  - ig-fashion
  - oakley-in-residence
  - mbfw-live-site
  - old-mates-black-party
  - ray-ban-x-boiler-room-chet-faker
  - republic-records
  - sesión-tequila-australian-launch
  - singapore-tourism-board
  - sunglass-hut-shades-of-you
  - superga-at-mbfwa
  - tropfest-australia-event-branding-and-live-broadcast
---

<div class="_work">
    {% assign items = site.projects | sort: 'order' %}

    {% for project in items %}
        {% if project.enabled == true %}
            {{ project }}
        {% endif %}
    {% endfor %}
</div>