<div class="table-row">
  <div class="collage table-cell">
    <div class="image-one"><div class="inner" style="background-image: url('{{ include.one }}');"></div></div>
    <div class="image-two"><div class="inner" style="background-image: url('{{ include.two }}');"></div></div>
    <div class="image-three"><div class="inner" style="background-image: url('{{ include.three }}');"></div></div>
    <div class="image-four"><div class="inner" style="background-image: url('{{ include.four }}');"></div></div>
  </div>
</div>