<footer class="_footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Say Hello</h2>
                <address>
                    105/2a Rowntree Street<br/>
                    Balmain<br/>
                    NSW<br/>
                    2041<br/>
                </address>
            </div>
            <div class="col">
                <h2>&nbsp;</h2>
                <a href="#"></a>hello@ourfriendselectric.com.au</a>
            </div>
            <div class="col __social">
                <h2>Connect</h2>
                <ul>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg _navbar">
        <div class="container">
            <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}">
                <img src="{{ site.url }}/images/logo-white.png" class="logo __logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% include navigation.html %}
                </ul>
            </div>
        </div>
    </nav>
</footer>