<nav>
  <ul>
    <li>
      <a target="_blank" href="https://www.facebook.com/yourfriendselectric">
        <img src="{{ site.github.url }}/images/facebook.svg" />
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/ourfriendselectric/">
        <img src="{{ site.github.url }}/images/instagram.svg" />
      </a>
    </li>
    <li>
      <a id="contact" href="#">
        <img src="{{ site.github.url }}/images/contact.svg" />
      </a>
    </li>
  </ul>

</nav>
<div class="mobile-background"></div>