.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;

    &.btn-dark {
        color: #fff;
        background-color: $ofe-black;
        border-color: $ofe-black;
    }
}