.contact {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  z-index: 1000;

  h3 {
    margin-top: 0;
  }

  a {
    color: #000;
  }

  visibility: hidden;
  opacity: 0;
  margin-top: -50px;
  transition: all 150ms cubic-bezier(0.4, 0.0, 0.6, 1);
  &.active {
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
  }

  .inner {
    height: 100%;
  }

  .form {
    float: left;
    height: 100%;

    width: 100%;
    padding: 10px;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      padding: 20px;
    }

    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
      @media (min-width: $screen-sm-min) {
        margin-top: 17px;
        margin-bottom: 0px;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 5px;
      @media (min-width: $screen-sm-min) {
        margin-top: 12px;
        margin-bottom: 12px;
      }
    }

    .intro {
      display: none;
      margin-top: 5px;
      margin-bottom: 20px;
      @media (min-width: $screen-md-min) {
        display: inline-block;
      }
    }

    input,
    textarea {
      transition: all 150ms cubic-bezier(0.4, 0.0, 0.6, 1);
      &:focus {
        outline: 0;
        background: #000;
        color: #fff;
        transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
      }

      width: 100%;
      @media (min-width: $screen-sm-min) {
        width: 80%;
      }
    }

    textarea {
      height: 50px;
      @media (min-width: $screen-sm-min) {
        height: auto;
      }
    }
  }

  .image {
    background: url('../images/contact-image.jpg') center center;
    background-size: cover;
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
    display: none;
    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }

  .close {
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
    
    top: 20px;
    right: 10px;
    @media (min-width: $screen-sm-min) {
      right: 20px;
    }
  }

}

#overlay {
  background: rgba(#000, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 900;

  visibility: hidden;
  opacity: 0;
  transition: all 150ms cubic-bezier(0.4, 0.0, 0.6, 1);
  &.active {
    visibility: visible;
    opacity: 1;
    transition: all 150ms cubic-bezier(0.0, 0.0, 0.2, 1)
  }
}