._footer {
    background: $ofe-black;
    color: $ofe-white;
    padding-top: 100px;
    padding-bottom: 0px;

    .__find,
    .__contact,
    .__follow {
        display: flex;
        flex-direction: column;

        h3 {
            flex-grow: 2;
            @include media-breakpoint-up(lg) {
                margin-bottom: 40px;
            }
        }

        margin-bottom: 40px;
    }

    .__find {
        address {
            margin-bottom: 0;
        }
    }

    .__contact {
        a {
            color: $white;
        }
    }

    .__follow {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                padding: 0;
                margin: 0;
                a {
                    color: $ofe-white;
                    font-size: 30px;
                    padding-right: 10px;
                }
            }
        }
    }

    ._navbar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}