.form-control {
    border-radius: 0;
    border-color: $ofe-black;
    text-transform: uppercase;
    color: $black;
    padding: 0.375rem 0.375rem;

    font-size: $font-size-xs;
    @include media-breakpoint-up(xl) {
        font-size: $font-size-xl;
    }
}