.hero {
	background: $color-black;
    background-size: cover;
    background-position: center center;
    text-align: center;
	height: 100%;

	.logo {
		margin: 0 auto 0 auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		height: 200px;
		width: 200px;
		@media (min-width: $screen-lg-min) {
			height: 300px;
			width: 300px;
		}

		&.category {
			padding: 0;
			h1 {
				line-height: 200px;
				@media (min-width: $screen-lg-min) {
					line-height: 300px;
				}
			}
		}
	}

	.caret {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	
		bottom: 20px;
		@media (min-width: $screen-sm-min) {
			bottom: 30px;
		}
		@media (min-width: $screen-md-min) {
			bottom: 30px;
		}
		@media (min-width: $screen-lg-min) {
			bottom: 50px;
		}

		opacity: 0.5;
		&:hover {
			opacity: 1;
		}

		img {
			width: 30px;
			@media (min-width: $screen-sm-min) {
				width: 40px;
			}
			@media (min-width: $screen-md-min) {
				width: 40px;
			}
			@media (min-width: $screen-lg-min) {
				width: 50px;
			}
		}
	}
}