._home {
    .__hero {
        .__logo {
            width: 300px;
            align-self: center;
        }

        ul {
            margin: 20px 0 0 0;
            padding: 0;
            list-style: none;
            text-align: center;
            overflow: hidden;

            li {
                display: inline-block;
                padding: 0;
                margin: 0px 0 0 0;
                background: $ofe-black;
                position: relative;
                cursor: pointer;
                transition: background 200ms ease-in-out;
                a {
                    transition: color 200ms ease-in-out;
                    color: $ofe-white;
                }

                &:before,
                &:after {
                    content: ' ';
                    display: block;
                    width: 11px;
                    background: $ofe-black;
                    height: 120%;
                    position: absolute;
                    z-index: 100;
                    top: -10%;
                    transform: rotate(10deg);
                    transition: background 200ms ease-in-out;
                }
                &:before {
                    left: -3px;
                    border-left: 1px solid $ofe-white;
                }
                &:after {
                    right: -4px;
                    border-right: 1px solid $ofe-white;
                }

                &:first-child:before,
                &:first-child:after,
                &:last-child:before,
                &:last-child:after {
                    display: none;
                }

                &:hover {
                    background: $ofe-white;
                    a {
                        color: $ofe-black;
                    }
                    &:before,
                    &:after {
                        background: $ofe-white;
                    }
                }
            }
        }
    }

    .__hero,
    .__who_we_are,
    .__what_we_do,
    .__services,
    .__work {
        min-height: 100vh;
        background-size: cover;
        background-position: center center;
        background-color: $ofe-black;
        color: $white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-top: 200px;
        padding-bottom: 200px;

        h2 {
            background: $black;
            display: inline-block;
            padding: 10px 40px;
            margin-bottom: 40px;
        }
        .___content {
            background: $black;
            padding: 26px 40px 10px 40px;
        }
    }

    .__work {
        background: $ofe-black;

        h2 {
            padding: 0;
            margin-bottom: 40px;
        }

        .__item {
            position: relative;
            overflow: hidden;

            .___overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 10px;
                background: rgba(0,0,0,0.25);
                transform: translateY(100%);
                transition: transform 200ms ease-in-out;
                text-align: left;
                a {
                    color: #fff;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover {
                .___overlay {
                    transform: translateY(0%);
                }
            }
        }
    }
}