._home {
    .__hero {
        height: 100vh;
        background-size: cover;
        background-position: center center;
        background-color: $ofe-black;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .__logo {
            width: 300px;
            align-self: center;
        }

        ul {
            margin: 20px 0 0 0;
            padding: 0;
            list-style: none;
            text-align: center;
            overflow: hidden;

            li {
                display: inline-block;
                padding: 0;
                margin: 0px 0 0 0;
                background: $ofe-black;
                position: relative;
                cursor: pointer;
                transition: background 200ms ease-in-out;
                a {
                    transition: color 200ms ease-in-out;
                    color: $ofe-white;
                }

                &:before,
                &:after {
                    content: ' ';
                    display: block;
                    width: 11px;
                    background: $ofe-black;
                    height: 120%;
                    position: absolute;
                    z-index: 100;
                    top: -10%;
                    transform: rotate(10deg);
                    transition: background 200ms ease-in-out;
                }
                &:before {
                    left: -4px;
                    border-left: 1px solid $ofe-white;
                }
                &:after {
                    right: -5px;
                    border-right: 1px solid $ofe-white;
                }

                &:first-child:before,
                &:first-child:after,
                &:last-child:before,
                &:last-child:after {
                    display: none;
                }

                &:hover {
                    background: $ofe-white;
                    a {
                        color: $ofe-black;
                    }
                    &:before,
                    &:after {
                        background: $ofe-white;
                    }
                }
            }
        }
    }

    .__about {
        padding-top: 300px;
        padding-bottom: 300px;
        background: $ofe-black;
        color: $ofe-white;
    }

    .__work {
        // padding-left: 0;
        // padding-right: 0;
        background: $ofe-black;
        // padding: $gutter-width / 8;
        .__item {
            .__inner {
                background: red;
                margin: $gutter-width / 8;
                padding: 30px;
                min-height: 500px;
            }
        }
    }
}