.intro {
  float: left;
  background: #fff;
  width: 100%;

  padding: 0 20px;
  @media (min-width: $screen-md-min) {
    padding: 0;
  }

  h2 {
    font-style: italic;
    font-weight: 100;
    text-transform: lowercase;
    line-height: 1.1;
    font-size: 6rem;
    margin: 20px 0 10px 0;
    @media (min-width: $screen-sm-min) {
      font-size: 4.5rem;
    }
    @media (min-width: $screen-md-min) {
      font-size: 4rem;
      margin: 0 0 10px 0;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 5.8rem;
      margin: 20px 0 10px 0;
    }

  }

  p {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 2rem;
    @media (min-width: $screen-sm-min) {
      font-size: 1.5rem;
    }
    @media (min-width: $screen-md-min) {
      font-size: 1.4rem;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 1.5rem;
    }
  }
}