._navbar {
    background: $ofe-black;
    z-index: 10;

    .navbar-brand {
        padding: 0;
    }

    .__logo {
        width: 40px;
        @include media-breakpoint-up(md) {
            width: 60px;
        }
    }

    .nav-link {
        color: $ofe-white;
    }

    .navbar-toggler {
        color: white;
    }
}