

nav {
	text-align: center;
	margin-top: 20px;
	// font-weight: 400;
	font-size: 20px;
	ul {
		margin: 0;
		padding: 5px 15px;
		list-style: none;
		display: inline-block;
		background: #000;
		li {
			display: block;
			float: left;
			a {
			    font-family: "BodoniBE", Georgia, Serif;  
			    color: $color-white;
			    font-style: italic;
			    text-transform: lowercase;
			    position: relative;
				&:hover {
    				color: $color-white;
					text-decoration: none;
					&:before {
					    content: " ";
					    display: block;
					    position: absolute;
					    left: 0;
					    height: 1px;
					    width: 100%;
					    background: rgba(255, 255, 255, 0.5);
					    left: 0;
					    bottom: 0px;
					}
				}
			}
			&:after {
				content: '/';
				color: #fff;
				padding: 0 10px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}

			&.active {
				a {
					&:before {
					    content: " ";
					    display: block;
					    position: absolute;
					    left: 0;
					    height: 1px;
					    width: 100%;
					    background: #fff;
					    left: 0;
					    bottom: 0px;
					}
				}
			}
		}
	}
}