.post {

  .collage  {

    padding: 20px;
    @media (min-width: $screen-sm-min) {
      padding: 20px;
      width: 50%;
      height: 100%;
      float: left;
    }

    .intro {
      float: left;

      h2 {
        margin-top: 0;
        font-style: italic;
        font-weight: 100;
      }

      p {
        text-transform: uppercase;
        font-size: 2rem;
      }
    }

    div[class^="image-"] {
      float: left;
      height: 100%;
      width: 100%;
    }

    &.layout-one {

      .top {
        height: 50%;

        .left {
          width: 60%;
          height: 100%;
          float: left;

          .intro {
            width: 100%;
            height: 30%;
          }

          .image-one {
            height: 70%;
          }
        }
        .right {
          width: 40%;
          height: 100%;
          float: left;
        }
      }

      .bottom {
        height: 50%;
      }
    }
  }
  
  .feature {
    background-size: cover;
    background-position: center center;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      height: 100%;
      float: left;
    }
  }
}