$imageGap: 10px;
$collageBorder: 20px;

.post {

  .collage  {
    padding: ($collageBorder - ($imageGap/2));
    @media (min-width: $screen-sm-min) {
      padding: ($collageBorder - ($imageGap/2));
      width: 50%;
      height: 100%;
      float: left;
    }

    .intro {
      float: left;
      background: #fff;
      padding: $imageGap / 2;
      hr {
        padding: 0;
        margin: 0;
        background: #000;
        border: none;
        height: 1px;
      }
      h2 {
        margin: 0 0 5px 0;
        font-style: italic;
        font-weight: 100;
        font-size: 30px;
        line-height: 1.2;
        border-bottom: 4px solid #000;
        text-transform: lowercase;
        padding: 5px 0;
      }

      p {
        text-transform: uppercase;
        font-size: 1.8rem;
      }
    }

    div[class^="image-"] {
      float: left;
      height: 100%;
      width: 100%;
      padding: $imageGap / 2;
      .inner {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
      }
    }

    &.layout-one {

      .top {
        height: 50%;

        .left {
          width: 60%;
          height: 100%;
          float: left;

          .intro {
            width: 100%;
          }

          .image-one {
            // height: 70%;
          }
        }
        .right {
          width: 40%;
          height: 100%;
          float: left;
        }
      }

      .bottom {
        height: 50%;
      }
    }
  }
  
  .feature {
    background-size: cover;
    background-position: center center;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      height: 100%;
      float: left;
    }
  }
}