* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    // font-size: $font-size-xs;
    // @include media-breakpoint-up(xl) {
    //     font-size: $font-size-xl;
    // }
    // text-transform: uppercase;
    // color: $black;
}

p {
    @include media-breakpoint-down(lg) {
        margin-bottom: 0.5rem;
    }
}

h1,
h2,
h3 {
    font-weight: 300;
}

