._work {
    margin-top: $header-height-xs;
    @include media-breakpoint-up(md) {
        margin-top: $header-height-md;
    }
}

._project {
    @include media-breakpoint-up(lg) {
        display: flex;
        padding-top: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;
        margin-left: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
    }

    .__information {
        display: flex;
        flex-direction: column;

        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        @include media-breakpoint-up(lg) {
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 0;
        }

        .__intro {
            flex-grow: 1;

            padding-left: 5px;
            padding-right: 5px;
            @include media-breakpoint-up(sm) {
               padding-left: 5px;
               padding-right: 5px;
            }
            @include media-breakpoint-up(lg) {
                padding-left: 0px;
                padding-right: 0px;
            }

            h3 {
                // @include media-breakpoint-down(lg) {
                //     font-size: 1.7rem;
                // }
            }
            .___description {
                font-size: 0.8rem;
            }
        }
        
        .__collage {
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;
            flex-wrap: wrap;

            @include media-breakpoint-up(lg) {
                margin: -($grid-gutter-width / 4);
            }

            .__image {

                width: 50%;
                padding: 5px;
                @include media-breakpoint-up(sm) {
                    width: 25%;
                    padding: 5px;
                }
                @include media-breakpoint-up(lg) {
                    width: 50%;
                    padding: $grid-gutter-width / 4;
                }

                img {
                    width: 100%;
                }
            }
        }
    }

    .__feature {
        @include media-breakpoint-down(md) {
            margin-bottom: $grid-gutter-width;
        }
        @include media-breakpoint-down(lg) {
            padding: 0;
            align-items: flex-end;
            display: flex;
        }

        img {
            width: 100%;
        }
    }
}