<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    
    {% include navigation.html %}
    {% include contact.html %}
    
    {{ content }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/jquery.easings.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/vendors/scrolloverflow.min.js"></script>

    <script type="text/javascript" src="{{ "/js/scripts.js" | relative_url }}"></script>

    {% if page.heroes %}
      <script>
        $(document).ready(function() {
            var images = [];
            {% for image in page.heroes %}
              images.push('{{ image.image_path }}');
            {% endfor %}
            slideshow(images);
        });
      </script>
    {% endif %}

  </body>

</html>
